body{
  background-color: #FFFAFA;
}
.head1{
	background-color: #9ACD32;
	color: white;
	font-family: 'Literata', serif;
}
.mail{
	background-color: #FAF0E6;
}
.head3{
	font-family: 'David Libre', serif;
	color:#FFA500;
}
.head{
	 font-family: 'Literata', serif;
     color:#8B4513;
}
.btn1{
	width:190px;
	margin-right: 10px;
}
.btn2{
	width: 400px;
	height:200px;

}
.check{
	color:#BC8F8F;
	font-family: 'David Libre', serif;
}
.form{
	background-color: #FAEBD7;
	color: #8B4513;
	font-family: 'Literata', serif;
}